.game.theme-gaming {
    width: 100%;
    height: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px;
    gap: 54px;
    font-family: "Orbitron";
    color: white;
    background-color: rgba(41, 79, 96, 1);

    >nav {
        max-width: 1200px;
        width: 1200px;
        height: 88px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        background-color: rgba(253, 150, 201, 0.2);

        .score {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            gap: 40px;
            width: 182px;
            height: 54px;
            flex-direction: row-reverse;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 1);

            .score-div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;

                >img {
                    width: 22px;
                    height: 28px;
                }
            }

            #score-blue {
                color: rgba(9, 127, 197, 1);
            }

            #score-orange {
                color: rgba(234, 105, 0, 1);
            }
        }

        >button {
            width: 195px;
            height: 54px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: white;
            background-color: rgba(237, 27, 118, 0.08);
            border: 2px solid rgba(231, 28, 79, 0.7);
            border-radius: 10px;
            transition: all 0.3s ease;
            font-size: 20px;
            letter-spacing: 4%;
            position: relative;

            >img {
                transition: filter 0.3s ease;
                will-change: filter;
                filter: brightness(0) invert(1);
            }

            &:hover {
                background-color: rgba(237, 27, 118, 0.14);
                border-color: rgba(231, 28, 79, 1);
                box-shadow: 3px 3px 5px rgba(47, 46, 46, 0.2);
                cursor: pointer;
            }

            &:hover>img {
                filter: brightness(0) saturate(100%) invert(18%) sepia(92%) saturate(5200%) hue-rotate(335deg) brightness(95%) contrast(95%);
            }
        }
    }

    .current {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 8px;
        display: flex;
        align-items: center;
        gap: 10px;

        .current-icon {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            background: white;

            >img {
                width: 25px;
                height: 32px;
            }
        }

        >h2 {
            font-family: "Orbitron";
            letter-spacing: 7%;
            font-size: 32px;
            font-weight: 400;
        }
    }

    .current.blue .current-icon {
        background: rgba(31, 170, 252, 1);
    }

    .current.orange .current-icon {
        background: rgba(245, 142, 57, 1);
    }

    #grid {
        display: grid;
        gap: 16px;
        justify-content: center;

        .card.matched {
            .card-back {
                outline: 3px solid rgba(237, 27, 118, 1);
                box-shadow: 5px 5px 8px rgba(237, 27, 118, 0.3);
            }
        }

        .card {
            width: 105px;
            height: 120px;
        }

        .card-front {
            &:hover {
                cursor: pointer;
            }

            background: linear-gradient(240deg, rgba(237, 27, 118, 1), rgba(10, 40, 53, 1));
            box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
        }

        .card-back {
            background-color: rgba(246, 241, 243, 1);
            border-radius: 12px;
            box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
        }
    }

    .exit-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.6);
        z-index: 999;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .exit-overlay.active {
        opacity: 1;
        pointer-events: all;
    }

    .exit-modal {
        width: 420px;
        background-color: rgba(240, 246, 249, 1);
        padding: 40px;
        color: rgba(41, 79, 96, 1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 54px;
        transform: translateY(-80px);
        opacity: 0;
        transition: all 0.3s ease;

        .exit-actions {
            display: flex;
            gap: 24px;
            justify-content: center;
        }

        .btn {
            padding: 12px 20px;
            border-radius: 10px;
            font-family: "Orbitron";
            font-size: 16px;
            letter-spacing: 4%;
        }

        .btn-primary {
            color: white;
            background-color: rgba(237, 27, 118, 1);
            border: 2px solid transparent;
            width: 205px;
            transition: all 0.3s ease;

            &:hover {
                color: rgba(237, 27, 118, 1);
                background-color: rgba(242, 199, 218, 0.08);
                cursor: pointer;
                border: 2px solid rgba(237, 27, 118, 1);
                box-shadow: 3px 3px 5px rgba(47, 46, 46, 0.2);
            }
        }

        .btn-secondary {
            color: rgba(237, 27, 118, 1);
            background-color: rgba(237, 27, 118, 0.08);
            border: 2px solid rgba(237, 27, 118, 0.7);
            transition: all 0.3s ease;

            &:hover {
                background-color: rgba(237, 27, 118, 0.1);
                cursor: pointer;
                box-shadow: 3px 3px 5px rgba(47, 46, 46, 0.2);
                border: 2px solid rgba(237, 27, 118, 1);
            }
        }
    }

    .exit-overlay.active .exit-modal {
        transform: translateY(0);
        opacity: 1;
    }
}

.gameover-game {
    background-color: rgba(41, 79, 96, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Orbitron";
    gap: 24px;

    .gameover-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        >h2 {
            font-size: 124px;
            color: rgba(237, 27, 118, 1);
            letter-spacing: 7%;
            margin-bottom: 104px;
        }

        >h3 {
            color: white;
            font-size: 28px;
            letter-spacing: 7%;
        }

        .gameover-scores {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 40px;
            width: 222px;
            height: 66px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 10px;

            >div {
                font-size: 40px;

                >img {
                    width: 26px;
                }

                .orange {
                    color: rgba(234, 105, 0, 1);
                }

                .blue {
                    color: rgba(9, 127, 197, 1);
                }
            }
        }
    }

    .gameover-game {
        >h3 {
            .winner {
                &.blue {
                    color: rgba(43, 177, 255, 1);
                }

                &.orange {
                    color: rgba(245, 142, 57, 1);
                }
            }
        }
    }
}

.winner-gaming {
    background-color: rgba(41, 79, 96, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron";

    &-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 64px;

        #restart-btn {
            width: 107px;
            height: 49px;
            border-radius: 10px;
            border: 2px solid rgba(231, 28, 79, 0.7);
            background-color: rgba(237, 27, 118, 0.08);
            color: white;
            font-size: 20px;
            letter-spacing: 4%;
            transition: all ease 0.3s;

            &:hover {
                background-color: rgba(237, 27, 118, 0.1);
                cursor: pointer;
                border: 2px solid rgba(231, 28, 79, 1);
                box-shadow: 3px 3px 5px rgba(47, 46, 46, 0.2);
            }
        }

        .winner-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            >img {
                width: 288px;
            }
        }

        >div {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .blue {
                color: rgba(34, 152, 219, 1);
            }

            .orange {
                color: rgba(234, 105, 0, 1);
            }

            .draw {
                color: white;
            }

            >h2 {
                color: white;
                letter-spacing: 7%;
                font-size: 28px;
            }

            >h3 {
                font-size: 64px;
                letter-spacing: 7%;
            }
        }
    }
}